$border-right: solid 5px black;
$border-bottom: solid 5px black;

@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
    width: 100%;
    height: 100%;
    @include flex-center(row);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    height: 85%;
    margin: 0;
}

.player {
    @include flex-center(column);
    width: 25%;
    height: 100%;
}

.board {
    .selection {
        font-size: 10rem;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
        width: 100%;
    }

    #one {
        border-right: $border-right;
        border-bottom: $border-bottom;
    }

    #two {
        border-right: $border-right;
        border-bottom: $border-bottom;
    }

    #three {
        border-bottom: $border-bottom;
    }

    #four {
        border-right: $border-right;
        border-bottom: $border-bottom;
    }

    #five {
        border-right: $border-right;
        border-bottom: $border-bottom;
    }
    #six {
        border-bottom: $border-bottom;
    }

    #seven {
        border-right: $border-right;
    }
    #eight {
        border-right: $border-right;
    }
}
