body {
    width: 100%;
    height: 100vh;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    height: 85%;
    margin: 0;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    align-items: center;
}

.board .selection {
    font-size: 10rem;
    text-align: center;
    cursor: pointer;
    margin:0 auto;
    width:100%;
}

.board  #one {
    border-right: solid 5px black;
    border-bottom: solid 5px black;
}

.board #two {
    border-right: solid 5px black;
    border-bottom: solid 5px black;
}
.board #three {
    border-bottom: solid 5px black;
}

.board #four {
    border-right: solid 5px black;
    border-bottom: solid 5px black;
}

.board #five {
    border-right: solid 5px black;
    border-bottom: solid 5px black;
}
.board #six {
    border-bottom: solid 5px black;
}


.board #seven {
    border-right: solid 5px black;
}

.board #eight {
    border-right: solid 5px black;
}
